doctype html
html
  head
    title Le générateur de films français
    link(rel='stylesheet', href='/css/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    link(href='http://fonts.googleapis.com/css?family=Tangerine', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cinzel:700', rel='stylesheet', type='text/css')
  body.bg1
    block content