doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    link(href='http://fonts.googleapis.com/css?family=Tangerine', rel='stylesheet', type='text/css')
  body
    script(src="javascripts/contenu.js", type="text/javascript")
    script(src="javascripts/generateTitle.js", type="text/javascript")
    block content